/* global */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
img,
svg {
  max-width: 100%;
}
a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
body {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  background-color: #092635;
  color: #fff;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.6rem;
}
h3 {
  font-size: 3rem;
}
p,
a,
button,
li {
  font-size: 2.2rem;
}
h1, h2, h3, p, ul {
  margin: 0;
  padding: 0;
}
/* general styles */
.btn {
  display: inline-block;
  padding: 1.4rem;
  font-size: 2.8rem;
  font-weight: bold;
  border-radius: 1rem;
  cursor: pointer;
}
.title-section {
  font-size: 4.6rem;
  margin-bottom: 2rem;
}
.icon {
  display: inline-block;
  width: 5rem;
}
.social-networks {
  padding: 1rem 0;
  display: flex;
  gap: 2rem;
}
#header,
#contact,
#skills  {
  height: 100vh;
  min-height: 50rem;
}

/* home header */
#header {
  width: 20%;
  order: 1;
  position: fixed;
  border-right: 1px solid black;
  text-align: center;
  padding-top: 5%;
}
#navbar {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.navbar__item {
  font-size: 3rem;
  text-transform: capitalize;
}
/* main */
#main,
#contact {
  width: 80%;
}
#main {
  height: 100%;
  order: 2;
  position: relative;
  left: 20%;
  padding: 7% 0 0 2%;
}

/* home */
#home {
  height: 100vh;
  min-height: 50rem;
  padding-left: 5%;
}
#name {
  font-size: 8rem;
  line-height: 8rem;
  margin-bottom: 1.6rem;
}
#profession {
  font-size: 5rem;
  margin-bottom: 1.6rem;
}
.home__text {
  font-size: 3rem;
  margin-bottom: 2rem;
}
#home .social-networks {
  margin-bottom: 2rem;
}
/* about me */
#about-me {
  padding-top: 2%;
}
.my-prensentation {
  margin-bottom: 2rem;
}
.training__title--1 {
  margin-top: 1.8rem;
}
.training__title--2 {
  font-size: 2.6rem;
  margin-top: 1rem;
}
.training {
  padding-left: .8rem;
}
.certification-lists {
  padding-left: 1.8rem;
  list-style: none;
}
.certification-lists__item {
  font-size: 2rem;
}
/* projects */
#projects,
#contact,
#skills {
  padding-top: 2%;
}
.grid-projects {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.project {
  max-width: 30rem;
  background-color: #1B4242;
  border-radius: 1rem;
  overflow: hidden;
  padding: .8rem .4rem;
}
.project__cover {
  overflow: hidden;
  border-radius: 1rem;
}
/* contact */
#contact {
  border-top: 1px solid black;
  order: 3;
  position: relative;
  left: 20%;
  padding-top: 8%;
  padding-left: 5%;
}
#contact .title-section {
  margin-bottom: 4rem;
}
#contact .social-networks {
  flex-direction: column;
  gap: 4rem;
  padding-left: 2rem;
}
#contact .icon {
  width: 100%;
  display: flex;
  gap: 2rem;
  align-items: center;
}
#contact .icon svg{
  width: 5rem;
}
.contact-item {
  font-size: 3.4rem;
}
#contact .container-cv {
  padding-left: 2rem;
  margin-top: 4rem;
}
/* Media querys */
@media screen and (max-width: 700px) {
  #header,
  #main,
  #contact {
    position: static;
    width: 100%;
  }
  #header {
    border-right: none;
    border-bottom: 1px solid black;
  }
}